/* Default CSS Link Start */

body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'League Spartan', sans-serif;
}
img{
    max-width: 100%;
}
.default-btn{
    margin-left: 100px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #fff;    
    color: #1919cd;
    border: #1919cd;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.default-btn:hover{
    color: #fff;
}
.default-btn::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background: #1919cd;     
    top: 0;
    left: 0;
    border-radius: 30px;
    z-index: -1;
    transition: all 0.5s ease;   
}
.default-btn:hover::after{
    width: 100%;    
}

/* Default CSS Link End */

/* Menu Section Styling Start */
.mani-menu{
    background: #e7e6e6;    
}
.nav-item{
    position: relative;
    margin-left: 10px;   
}
.nav-item a.active{
    color: #1919cd !important;
}
.nav-item a:hover{
    color: #1919cd !important;
}
.nav-item::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #1919cd;
    top: 145%;
    left: 0;
    transition: all 0.5s ease;    
}
.nav-item:hover::after{
    width: 100%;    
}
.nav-item.active1::after{
    width: 100%;
}

/* Dropdown Menu Styling Start */
.nav-item{
    position: relative;
}
.nav-item ul{
    position: absolute;
    width: 200px;
    background: #fff;
    top: 150%;
    left: 0;
    padding: 15px 20px;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.nav-item:hover ul{
    opacity: 1;
    visibility: visible;
}
.nav-item ul li {	
    list-style: none;
}
.nav-item ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #1919cd;    
    padding: 10px 20px;
}
.nav-item ul li a:hover{
    color: #fff !important;
}
/* Dropdown Menu Styling End */
/* Menu Section Styling End */

/* Hero/Banner Section Styling Start */
.hero{
    background: #edf6ff;
}
.hero .hero-content{
    padding: 100px 0px;   
}
.hero .hero-content h2 {
	font-size: 50px;
}
.hero .hero-content p{
	padding: 30px 0px;
	line-height: 30px;
	text-align: justify;
}
.hero .hero-content a.default-btn{
    margin-left: 0;
    text-decoration: none;
    padding: 15px 20px;
    background: #0d6efd;    
    color: #fff;
    transition: all 0.3s ease;
}
.hero .hero-content a.default-btn:hover{
    color: #0d6efd;
    background: #fff;
    
}
.hero .hero-content a.default-btn::after{
    background: #fff;   
}
.hero-img{}
.hero-img img {
	border-radius: 400px 0px 500px 500px;
	margin-left: 154px;
	height: 517px;
}
/* Hero/Banner Section Styling End */

/* Services Section Styling Start */
.services-content{}
.services-content h6{
    color: #9d8fec;
    text-transform: uppercase;
}
.services-content h1{
    position: relative;
    font-size: 39px;
}
.services-content p{}

.services-content h1::after{
    content: "";
    position: absolute;
    width: 8%;
    height: 3px;
    background: #9d8fec;
    left: 0;
    top: 110%;
}

.services-img {
	position: absolute;
	top: 45px;
	left: -55px;
	z-index: -1;
}
.services-icon {
	width: 50px;
	height: 50px;
	background: #5252f0;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 30px 30px 30px 0px;
	margin: 20px 0px;
	font-size: 26px;
    position: relative;
    transition: all 0.5s ease;
}
.services-icon::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: #9d8fec;
    top: 60px;
    left: 0;
}
.cardtext{
    color: #111;
}
.services-icon i{}
.cardhover{}
.cardhover:hover{
    background: #5252f0;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.cardhover:hover .cardtext{
    color: #fff;
}
.cardhover:hover .services-icon{
    background: #fff;
    color: #5252f0;
}
.cardhover:hover .services-icon::after{
    background: #fff;
}
/* Services Section Styling End */


/* Video Section Styling Start */
.video{
    background-image: linear-gradient(rgba(15, 15, 79, 0.659), rgba(15, 15, 79, 0.659)), url(img/video-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
.video-content{
    color: #fff;  
}
.video-content h5{
    text-transform: uppercase;
}
.video-content h2{
    position: relative;
}
.video-content h2::after {
	content: '';
	position: absolute;
	width: 15%;
	height: 2px;
	background: #fff;
	top: 50px;
	left: 260px;
}
.video-content p{
    line-height: 30px;
}
.video-content .vicons{
    margin: 40px 0px;
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #fff;
	line-height: 80px;
	border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}
.video-content .vicons:hover{
    background: #5252f0;
    transition: all 0.3s ease;  
}
.video-content .vicons:hover i{
    color: #fff;
}
.video-content .vicons i{
    color: #5252f0;    
}
.video-content .vicons::before{
content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}
.video-content .vicons::after{
content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
    0%, 30%{
        transform: scale(0);
        opacity: 1;
    }   
    50%{
        transform: scale(1.5);
        opacity: 0.7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
/* Video Section Styling End */

/* Pricing Table Section Styling Start */
.pricing-table{
    background: #f6f9fc;
}
.pricing-title {
    width: 400px;
    margin: auto;
}
.pricing-title h5{
    color: #1919cd;
    text-transform: uppercase;
}
.pricing-title h2{
    font-weight: 600;
    position: relative;
}
.pricing-title h2::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background: #1919cd;
    bottom: -10px;
    left: 153px;
}
.pricing-title p {
    padding: 30px 0px;
}
.pricing-table-items {
    padding: 30px 100px;
    background: #fff;
    transition: all 0.3s ease;
    position: relative;
}
/* .pricing-table-items:hover{
    background: #0d6efd;
    color: #fff;
} */
.pricing-table-items h5 {
    font-weight: 600;
    transition: all 0.5s ease;
}
.pricing-table-items h3 {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 100px;
    margin: 30px;
    border-bottom: 2px solid rgb(221, 221, 221);
    transition: all 0.5s ease 0s;
    position: relative;
}
.pricing-table-items h6 {
    position: absolute;
    top: 160px;
    left: 165px;
    font-size: 18px;
    font-weight: 600;    
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.pricing-table-items:hover h6{
    opacity: 1;
    visibility: visible;

}

.pricing-table-items ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.pricing-table-items ul li{}
.pricing-table-items .pricing-item-button{}
.pricing-table-items .pricing-item-button a{
    display: inline-block;
    background: #0d6efd;    
    color: #fff;
    border-radius: 30px;
    border: none;    
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
.pricing-table-items .pricing-item-button a:hover{
    color: #0d6efd;
    
}
.pricing-table-items .pricing-item-button a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #fff;    
    border-radius: 30px;    
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
.pricing-table-items .pricing-item-button a:hover::after{
    width: 100%;    
}
.pricing-table-items:hover{
    background: #0d6efd;
    color: #fff;
}
.pricing-table-items:hover .pricing-item-button a{
    background: #fff;
    color: #0d6efd ;
}
.pricing-table-items:hover .pricing-item-button a::after{
    background: #0d6efd;
}
.pricing-table-items .pricing-item-button a:hover{
    color: #fff;
}

/* Pricing Table Section Styling End */


/* Purchase Section Styling Start */
.purchase{
    width: 100%;
    background-image: linear-gradient(rgba(13,110,253, 0.8), rgba(13,110,253, 0.8)), url(img/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0px; 
    text-align: center; 
    color: #fff;
}
.purchase-content{
    width: 500px;
    margin: auto;
}
.purchase-content h6{
    text-transform: uppercase;
}
.purchase-content h2{
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0px;
    position: relative;
}
.purchase-content h2::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    background: rgb(255, 255, 255);
    top: 115px;
    left: 220px;
}
.purchase-content p{
    padding: 10px;
}
.purchase-content .purchase-content-button a {
    display: inline-block;
    background: #fff;
    color: #0d6efd;
    border-radius: 30px;
    font-weight: 600;    
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.purchase-content .purchase-content-button a:hover{
    color: #fff;
}
.purchase-content .purchase-content-button a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #0d6efd;    
    color: #fff;
    border-radius: 30px;    
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
.purchase-content .purchase-content-button a:hover::after{
    width: 100%;
}
/* News Letter Section Styling Start */
.newsletter-content{
    color: #fff;
    background: #3763eb;
}
.newsletter-content h3{}
.newsletter-content p{}
.newsletter-content form{}
.newsletter-content input {
    width: 350px;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.card-title {
    font-size: 30px;   
    padding-bottom: 50px;
}
.newsletterbtn {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 40px;
    margin-left: 25px;
    color: #fff;
}
.newsletterbtn:hover{
    background: #3763eb;
    border: 1px solid #fff;
}
.newsletterbtn-2 {
    padding: 10px 30px;
    border-radius: 30px;
}
.newsletter-content btn{}
/* News Letter Section Styling End */

/* Our Testimonial Section Start */
.ourtestimonial{
    padding-top: 100px;
}
.clients-testimonial-left{}
.clients-testimonial-left h5 {
    color: #3763eb;
}
.clients-testimonial-left h2 {
    font-size: 45px;
    padding-bottom: 30px;
    position: relative;
}
.clients-testimonial-left h2::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 2px;
    background: #0d6efd;
    bottom: 22px;
    left: 0;
}
.clients-testimonial-left p {
    line-height: 30px;
    text-align: justify;
}
.clients-testimonial-right{}
.clients-brand{}
.clients-brand table{}
.clients-brand table tbody{}
.clients-brand table tbody tr{}
.clients-brand table tbody tr td {
    border: 1px solid #ddd;
    width: 285px;
    height: 150px;
    text-align: center;
    transition: all 0.3s ease;
}
.clients-brand table tbody tr td:hover{
    background: #dfefff;
}
.clients-brand table tbody tr td img{}
/* Our Testimonial Section End */

/* Blog Section Styling Start */
.blog-title{}
.blog-title h5{
    color: #0d6efd;
    text-transform: uppercase;
}
.blog-title h2 {
    font-size: 44px;
    font-weight: 500;
    position: relative;
}
.blog-title h2::after {
    content: '';
    position: absolute;
    width: 5%;
    height: 2px;
    background: #0d6efd;
    bottom: -15px;
    left: 47%;
}
.blog-title p {
    width: 500px;
    margin: auto;
    line-height: 30px;
    padding: 30px 0px;
    color: #ada8b6;
}
.blog-card{
    border: none;
    position: relative;
}
.card-content{
    padding: 0;
}
.card-body .card-title{}
.card-body .card-text {
    color: #ada8b6;
}
.pop-up {
    width: 220px;
    height: 60px;
    background: rgb(13, 110, 253);
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    top: 195px;
    left: 180px;
}
.pop-up img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.pop-up span {
    color: #fff;
    text-transform: uppercase;
}
/* Blog Section Styling End */

/* Footer Section Styling Start */
.footer {
    padding: 70px 0px;
    background: #081828;
    color: #fff;    
}
.footer-widget{
    
}
.footer-widget img {
    width: 120px;
}
.footer-widget h3{
    position: relative;
    transition: all 0.3s ease;
}
.footer-widget h3:hover{
    letter-spacing: 2px;
    color: #0d6efd;
}
.footer-widget h3::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #0d6efd;
    top: 0;
    left: -15px;
}
.footer-widget p{
    padding: 20px 0px;
    line-height: 30px;
    color: #ada8b6;
}
.footer-widget-social{}
.footer-widget-social ul {
    padding: 0;
    list-style: none;   
}
.footer-widget-social ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer-widget-social ul li a{
    display: inline-block;
    font-size: 20px;
    color: #ada8b6;
    transition: all 0.3s ease;
}
.footer-widget-social ul li a:hover{
    color: #0d6efd;
    transform: translateX(10px);
}
.footer-widget-menu{}
.footer-widget-menu ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;   
}
.footer-widget-menu ul li {
    margin-bottom: 15px;
}
.footer-widget-menu ul li a {
    color: #ada8b6;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.footer-widget-menu ul li a:hover{
    letter-spacing: 2px;
    color: #0d6efd;
}
/* Footer Section Styling End */

/* Footer Copy Right Area Section Styling Start */
.footer-copy-right-area{
    background: #081828;
    color: #fff;
}
.copy-right-content {
    border-top: 1px solid #ada8b6;
}
.copy-right-content p {
    margin-bottom: 0;
    text-align: center;
    padding: 30px;
    color: #ada8b6;
}
/* Footer Copy Right Area Section Styling End */
